
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');




body{font-family: 'Nunito Sans', sans-serif;}
a{color:#0e2449; text-decoration: none; font-weight: bold;border-bottom: 1px dashed}
h1,h2,h3,h4,h5,h6{font-family: 'Josefin Sans', sans-serif;font-weight: 600}
.card-header{background-color: whitesmoke;border: 1px solid black;position: static;width: 100%; }
.card-header-logo{background-color: whitesmoke;border: 1px solid black;padding: 0%;width:70px;}
.header-title span{display:block;font-size:70%;margin-top:3px;}

.medical-form{/*background-image:url(./assets/img/bg-img.jpg) !important;
	background-attachment: fixed !important;height:auto !important;  /*height: -webkit-fill-available;*/
	background-size: cover !important;
	background-repeat: no-repeat !important;}

	.row h3 img {
		float: right;
		width: 90px;
	}
	
.Demography-card ,.category-card > div,.facility-details-card{padding: 5px 10px;}
.table-format{width: 100%;border: 1px solid black;padding: 5%;margin-top: 0px;}
#header img{block-size: 65px;padding: 0%;}
.srNo{width: 40px;}
.lines{border: 1px solid black;}
table{padding: 5%;}
#category-col{padding-top: 0%;margin-top: 0%;  font-weight: bold;}

#header h4{vertical-align:middle;}
.logo-area .header-title{color:#e78232}
.logo-area .header-title span{color:green}
/*button.logoutbtn{padding:9px 12px;transition: width linear 0s 0.3s; min-width: auto;}
.logoutbtn .mat-button-wrapper span{display:none}
.logoutbtn:hover  .mat-button-wrapper span{display:inline-block;line-height: normal;padding:0; margin: 0 0 0 10px}
button.logoutbtn span {
    line-height: normal;}*/

/* updated logout button*/

.logoutbtn, .notificationBtn{position:fixed;right:0;top:140px;width:auto;z-index:9; border-radius: 5px 0 0 5px;margin-right: -62px;transition:all linear 0.3s !important}
.logoutbtn span,.notificationBtn span{line-height:normal; margin-left:3px;text-transform:uppercase;font-size:14px;font-weight:bold;}
.logoutbtn:hover, .notificationBtn:hover{margin-right:0}
.opacity-50{opacity: 0.5}
.notificationBtn{top:100px;margin-right:-104px;}
.notificationBtn .badge {
	left: 0 !important;
	right: auto;
	top: -9px !important;
  }
.notificationBtn i{margin-right:5px;animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

/**/

	.family-table.table>:not(:first-child){border:none}
	.family-table{background-color:#fff;}
	.family-table tr:nth-child(2n){background-color:rgba(0,0,0,0.09)}
.family-table .btn{padding: 3px 12px}

/******************* Footer CSS Starts ************************/
/* position fixed to static */
footer{position:fixed; width:100%;z-index:99; height: auto; bottom:0; left:0; background-color:#fff;box-shadow: 0 0 6px rgba(0,0,0,0.3);padding:2;}
footer p{margin: 5px;}

/******************* Footer CSS Ends ************************/
div#first-body {
    background: rgba(255,255,255,0.5) ;
    padding: 0 15px 0;
    border-radius: 4px;
	margin-bottom: 50px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.alert-danger{padding: 6px 13px; margin-top: 10px;}
.table th{padding:5px 10px;border:1px solid rgba(255,255,255,0.1)}
.milestone-list-icon i{font-size:10px;margin-right:5px;}

/******************* LOGIN PAGE Starts ************************/
.login-page{background: rgb(106,47,109);
background: radial-gradient(circle, rgba(106,47,109,1) 0%, rgba(87,47,105,1) 20%, rgba(68,45,100,1) 40%, rgba(50,43,92,1) 60%, rgba(32,40,83,1) 80%, rgba(14,36,73,1) 100%);display: flex !important;align-items: center !important;flex-direction:column !important; }
.login-page .btn{background-color:#2e6b98;border-color:#2e6b98}
/******************* LOGIN PAGE Ends ************************/

.label-details{font-size:13px;font-family: Roboto; line-height: 15px;}
.area-title{font-family: Roboto; font-size: 16px;position:relative}
.form-group label{line-height:13px; margin-bottom: 5px}
.form-group .form-check label {
    margin: 5px 0 0 5px;
}
select.form-control{-webkit-appearance: menulist!important;
-moz-appearance: menulist!important;
-ms-appearance: menulist!important;
-o-appearance: menulist!important;
appearance: menulist!important;
padding-right: 10px;}
.form-control{font-size: 14px;padding:3px 9px; border-radius: 3px;}
.form-control::-webkit-input-placeholder { /* Edge */
	color: rgba(0,0,0,0.3);
  }
  
  .form-control:-ms-input-placeholder { /* Internet Explorer */
	color:  rgba(0,0,0,0.3);
  }
  
  .form-control::placeholder {
	color: rgba(0,0,0,0.3);
  }
.area-title span {background: #fff;padding: 3px 10px;margin-left: 10px;color: #e78232;text-shadow: none;box-shadow: none;font-weight: 500;position:relative; z-index:2}
.category-card {border: 1px solid #e78232;padding: 6px 12px;margin-top: -8px;background-color: rgba(231,130,50,.04);}
.footer-button-area{margin-left:-15px; width:calc(100% + 30px); border-radius: 0 0 4px 4px !important}
.accordion-item{border-color: #e78232;}
.accordion-item .accordion-collapse{padding: 5px 15px;}
.accordion .accordion-button {
    background-color: rgba(231, 130,50, 0.2);
    color: #e78232;
    box-shadow: 0 0;
	padding: 5px 20px;
	line-height: 30px;
    border-radius: 2px !important;
    text-transform: uppercase;
    text-shadow: 0 0;
}
.accordion-button:after{filter:contrast(2) brightness(1)}
.accordion-button:not(.collapsed):after{filter:contrast(2) brightness(1) invert(0.9)}
  
.divider-area {
    background: rgba(0,0,0,0.2);
    height: 1px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.divider-area span {
    position: absolute;
    margin: 0 auto;
    left: 46%;
    background: #f8f9fa;
    top: -10px;
    transform: translate(50%, 0);
    z-index: 2;
    padding: 0 10px;
}
.search-page-tab{height:350px; overflow:auto;}
.search-page-tab thead{position:sticky; top:0}
.search-page-tab td{border:1px solid rgba(0,0,0,0.2);text-transform: capitalize; padding: 5px;}


/* dashboard style start */


/* dashboard style ends */


@media print{
	@page{margin:0}
	.pagebreak { page-break-before: always; margin: 20px 0}
	.container{width:100%;max-width:100%}
	.form-control{border:none;padding:0;font-weight:700;font-size:12px}
	button.logoutbtn,.print-btn-area,footer{display:none}
	.category-card h5{font-size:14px;margin:0}
	select.form-control{-webkit-appearance:none!important;-o-appearance:none!important;appearance:none!important;padding-right:10px}
	.col-lg-1,.col-lg-2,.col-md-2{width:15.66666667%}
	.col-lg-3{width:24%}
	.col-lg-4{width:33.33333333%}
	.col-md-5{width:41.66666667%}
	.col-xl-3,.col-lg-6{width:50%}
	.col-lg-8{width:66%}#header img{block-size:50px!important}
	.area-title{margin-bottom:0!important}
	div#first-body{padding-bottom:0!important}
	.medical-form form{margin-bottom:0!important}
	div#first-body{box-shadow:0 0}
	.form-group label{margin-bottom:0;font-size:12px}
	.shadow.bg-light{border-bottom:1px solid #eee}
	#header h4{font-size:16px}
	.footer-button-area{display:none}
	.accordion-collapse.collapse{display:block}
}




@media screen and (max-width: 640px){
	footer{position:relative; overflow:none; margin-top: 5px;}
	.login-page{height: auto;}
	#header h4{width: 80%}
}


@media screen and (max-width: 460px){
	#header h4{width: 72%}
}

@media print 
{
	.form-submit-button, .form-submit-print {
		display: none;
	}	
}